---
layout: default
---

<div class="row flex-ms-reverse flex-row py-2">
    <div class="col-md-12 col-sm-12" id="bio">
        <img style="float: right; border: #404040 1px solid;" alt="profile photo" id="portrait" src="images/IMG_5805.JPG">
        <h1>Junwoon Lee</h1>
        <p style="text-align:left; font-size:1.3rem">
            Ph.D. student in Robotics <br/> University of Michigan
        </p>
        <p style="text-align:left; font-size:1.1rem">
             <em target="_blank" href="mailto: leejunwoon@robot.t.u-tokyo.ac.jp">junwoon@umich.edu</em>
        </p>
        <p class="text-justify"></p>
        </p>    

        <p style="text-align:left; font-size:1.1rem">
            <a target="_blank" href="images/cv.pdf">CV</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=g65vfS4AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/junwoon-lee/">LinkedIn </a>
        </p>
    </div>
    <div class="col-md-12 col-sm-12">
        <p class="text-justify">
            <p class="tt" id="tt">
            <ul>
                <li><strong>Research interests</strong> : Collaborative SLAM, Neural Representation, Field Robotics</li>
            </ul>
            </p>
        </p>
        
        <p class="tt" id="tt">
            I am pursuing a Ph.D. in Robotics at the <a target="_blank" href="https://umich.edu"><strong>University of Michigan</strong></a>, supervised by <a target="_blank" href="https://www.tianyulun.com">Prof. Yulun Tian</a>. 
            I received my Master's degree in Human & Engineered Environmental Studies from <a target="_blank" href="https://www.u-tokyo.ac.jp/en/index.html"><strong>University of Tokyo</strong></a> with top distinction, supervised by <a target="_blank" href="https://www.robot.t.u-tokyo.ac.jp/~yamashita/">Prof. Atsushi Yamashita</a>, 
            working on research in LiDAR-visual-inertial / thermal-inerital SLAM. 
            Previously, I received Bachelor's degree in Mechanical Engineering from <a target="_blank" href="https://www.osaka-u.ac.jp/en"><strong>University of Osaka</strong></a>. 
            At University of Osaka, I was supervised by Prof. Masamitsu Kurisu, 
            working on research in 3-D mapping system for mining sites using LiDAR-camera system. 
        </p>

        

    </div>
</div>

{% include publications.html %}
{% include honors.html %}
{% include miscellaneous.html %}