---
layout: default
---

<div class="row flex-ms-reverse flex-row py-2">
    <div class="col-md-12 col-sm-12" id="bio">
        <img style="float: right; border: #404040 1px solid;" alt="profile photo" id="portrait" src="images/IMG_5805.JPG">
        <h1>Junwoon Lee</h1>
        <p style="text-align:left; font-size:1.3rem">
            Master student <br/> The University of Tokyo
        </p>
        <p style="text-align:left; font-size:1.1rem">
             <em target="_blank" href="mailto: leejunwoon@robot.t.u-tokyo.ac.jp">leejunwoon@robot.t.u-tokyo.ac.jp</em>
        </p>
        <p class="text-justify"></p>
        </p>    

        <p style="text-align:left; font-size:1.1rem">
            <a target="_blank" href="images/cv.pdf">CV</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=g65vfS4AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/junwoon-lee/">LinkedIn </a>
        </p>
    </div>
    <div class="col-md-12 col-sm-12">
        <p class="text-justify">
            <p class="tt" id="tt">
            <ul>
                <li>Research interests </li>
                <li><strong>- Mapping</strong> : Semantic SLAM, Point Cloud Registration, Map Representations</li>
                <li><strong>- Navigation</strong> : Risk-aware, Uncertainty-aware, Active SLAM</li>
            </ul>
            </p>
        </p>
        
        <p class="tt" id="tt">
            I am a master student at <a target="_blank" href="https://www.u-tokyo.ac.jp/en/index.html">the University of the Tokyo</a>, supervised by <a target="_blank" href="https://www.robot.t.u-tokyo.ac.jp/~yamashita/">Prof. Atsushi Yamashita</a>, 
            working on research in <strong>LiDAR-visual-inertial / thermal-inerital SLAM and computer vision</strong>. 
            I am also co-supervised by <a target="_blank" href="https://www.robot.t.u-tokyo.ac.jp/anlab/index.php/en/self-2/">Associate Prof. Qi An</a>, <a target="_blank" href="https://matsuren.github.io">Ph.D. Ren Komatsu</a>, 
            and <a target="_blank" href="https://www.robot.t.u-tokyo.ac.jp/asamalab/en/members/asama/biography.html">Prof. Hajime Asama</a> at the University of the Tokyo. 
            Previously, I received B.E. in Mechanical Engineering from <a target="_blank" href="https://www.osaka-u.ac.jp/en">Osaka University</a>. 
            At the Osaka University, I was supervised by Prof. Masamitsu Kurisu, working on research in <strong>3-D mapping for mining sites using LiDAR-camera system</strong>.
        </p>

    </div>
</div>

{% include publications.html %}
{% include honors.html %}
{% include miscellaneous.html %}