<div class="row py-2">
    <div class="col-md-12" id="Miscellaneous">
        <h2>Miscellaneous</h2>
    </div>
</div>

<div class="row py-1 publication">
    <div class="col-md-9 col-sm-12 project-thumbnail-parent">
        <p class="alignleft2"><strong>&#x2022; Military Service at Republic of Korea Army</strong> - Frontline guardian in the 23rd Security Brigade</p>
    </div>
    <div class="col-md-3 col-sm-12 project-description">
        <p class="alignright2">April, 2020 - October, 2021</p>
    </div>
</div>

<div class="row py-1 publication">
    <div class="col-md-9 col-sm-12 project-thumbnail-parent">
        <p class="alignleft2"><strong>&#x2022; Korea-Japan Joint Government Scholarship</strong></p>
    </div>
    <div class="col-md-3 col-sm-12 project-description">
        <p class="alignright2">April, 2017 - March, 2023</p>
    </div>
</div>

<div class="row py-1 publication">
    <div class="col-md-9 col-sm-12 project-thumbnail-parent">
        <p class="alignleft2"><strong>&#x2022; Rotary Yoneyama Memorial Foundation Scholarship</strong></p>
    </div>
    <div class="col-md-3 col-sm-12 project-description">
        <p class="alignright2">April, 2023 - March, 2025</p>
    </div>
</div>
<!--
<p class="text-justify" id="Miscellaneous">
    <div id="textbox1">
        <pt class="alignleft"><strong>&#x2022; Military Service at Republic of Korea Army</strong> - Frontline guardian in the 23rd Security Brigade</pt>
        <pt class="alignright">April, 2020 - October, 2021</pt>
    </div><div style="clear: both;"></div>
    <div id="textbox2">
        <pt class="alignleft"><strong>&#x2022; Korea-Japan Joint Government Scholarship</strong></pt>
        <pt class="alignright">April, 2017 - March, 2023</pt>
    </div><div style="clear: both;"></div>
    <div id="textbox3">
        <pt class="alignleft"><strong>&#x2022; Rotary Yoneyama Memorial Foundation Scholarship</strong></pt>
        <pt class="alignright">April, 2023 - March, 2025</pt>
    </div><div style="clear: both;"></div>
    </p>
</div>
-->
