<div class="row py-2">
    <div class="col-md-12" id="Miscellaneous">
        <h2>Miscellaneous</h2>
    </div>
</div>
<div class="col-md-12" id="Miscellaneous">
    <div id="textbox1">
        <pt class="alignleft"><strong>&#x2022; Military Service at Republic of Korea Army</strong> - Frontline guardian in the 23rd Security Brigade</pt>
        <pt class="alignright">April, 2020 - October, 2021</pt>
    </div><div style="clear: both;"></div>
    <div id="textbox2">
        <pt class="alignleft"><strong>&#x2022; Korea-Japan Joint Government Scholarship</strong></pt>
        <pt class="alignright">April, 2017 - March, 2023</pt>
    </div><div style="clear: both;"></div>
    <div id="textbox3">
        <pt class="alignleft"><strong>&#x2022; Rotary Yoneyama Memorial Foundation Scholarship</strong></pt>
        <pt class="alignright">April, 2023 - March, 2025</pt>
    </div><div style="clear: both;"></div>
    <p></p>
</div>
